# Problem Set 1
## Amir ElTabakh
## Due: 2/18/2022 - 11:59PM

(1) Find the type of the following variables.

In [1]:
# a
x = 2
type(x)

In [2]:
# b
x = 2.0
type(x)

float

In [3]:
# c
x = "2.0"
type(x)

str

In [4]:
# d
x = 2 + 0j
type(x)

complex

In [5]:
# e
x = "2 + 0j"
type(x)

str

In [6]:
# f
import math
x = math.pi
type(x)

float

(2) Generate the following string variable:

In [7]:
s = "Python has nice syntax"

In [8]:
# a. Compute the number of characters in `s`
len(s)

22

In [9]:
# b. Slice `s` to obtain the substring "syntax"
s[-6:]

'syntax'

In [10]:
# c. Find the first occurrence of "a" in s.
s.find('a')

8

In [11]:
# d. Replace all occurrences of "a" in s to "A".
s = s.replace("a", "A")
print(s)

Python hAs nice syntAx

In [12]:
# e. Add the following string to s:
s = s + "But, Stata’s is counter-intuitive."
print(s)

Python hAs nice syntAxBut, Stata’s is counter-intuitive.

(3) Generate the following list, `y = [[1,math.pi,0,7,8], ["abc", bool(0), -3, 12]]`

In [13]:
y = [[1,math.pi,0,7,8], ["abc", bool(0), -3, 12]]
print(y)

[[1, 3.141592653589793, 0, 7, 8], ['abc', False, -3, 12]]

In [14]:
# a. Reversing the first list in y using a reverse method.
y.reverse()
print(y)

[['abc', False, -3, 12], [1, 3.141592653589793, 0, 7, 8]]

In [15]:
# b. Replace bool(0) to bool(1) in the second list in y.
y[0][1] = bool(1)
y

[['abc', True, -3, 12], [1, 3.141592653589793, 0, 7, 8]]

In [16]:
# c. Drop pi from the first list in y
y[1].remove(math.pi)
y

[['abc', True, -3, 12], [1, 0, 7, 8]]

In [17]:
# d. Add [math.pi, math.e, 3-1j, False] to y.
y += [[math.pi, math.e, 3-1j, False]]
y

[['abc', True, -3, 12],
 [1, 0, 7, 8],
 [3.141592653589793, 2.718281828459045, (3-1j), False]]

(4) Let z be equal to y in 3(d), `z = y`.

In [18]:
z = y

In [19]:
# a. Replace z[2][0] to True. What happened to y?
z[2][0] = True
print(z)
print(y)

[['abc', True, -3, 12], [1, 0, 7, 8], [True, 2.718281828459045, (3-1j), False]]
[['abc', True, -3, 12], [1, 0, 7, 8], [True, 2.718281828459045, (3-1j), False]]

`z` is a shallow copy of `y`, not only are the values copied, but where they are stored in memory. If you manipulate `z`, `y` will change accordingly. We will have to use another function to deep copy the list over.

In [20]:
# .b How should we generate z so that the definition of y is not affected?
# (Note that copy method will not work here.)

# first reset y
y = [[1,math.pi,0,7,8], ["abc", bool(0), -3, 12]]
y.reverse()
y[1].remove(math.pi)
y += [[math.pi, math.e, 3-1j, False]]
print(y)

# deep copy
import copy
z = copy.deepcopy(y)

# test
z[2][0] = True
print(z)
print(y)

[['abc', False, -3, 12], [1, 0, 7, 8], [3.141592653589793, 2.718281828459045, (3-1j), False]]
[['abc', False, -3, 12], [1, 0, 7, 8], [True, 2.718281828459045, (3-1j), False]]
[['abc', False, -3, 12], [1, 0, 7, 8], [3.141592653589793, 2.718281828459045, (3-1j), False]]

(5) Generate a dictionary named student with the following keys: "name", "age", "courses",
"phone" and corresponding values "Jane", 22, ["MATH131", "ANTH201"], "555-788-5544".

In [21]:
# initializing dictionary
student = {"name" : "Jane",
           "age" : 22,
           "courses" :  ["MATH131", "ANTH201"],
           "phone" : "555-788-5544"}

student

{'name': 'Jane',
 'age': 22,
 'courses': ['MATH131', 'ANTH201'],
 'phone': '555-788-5544'}

In [22]:
# a. Print student's phone
student['phone']

'555-788-5544'

In [23]:
# b. Update student’s age to 24 and courses to ["MATH131", "ANTH201", "ECO387"].
# updating age
student['age'] = 24

# updating courses
student['courses'] += ["ECO387"]

# output student
student

{'name': 'Jane',
 'age': 24,
 'courses': ['MATH131', 'ANTH201', 'ECO387'],
 'phone': '555-788-5544'}

In [24]:
# c. Drop the phone number from the dictionary
del student['phone']
student

{'name': 'Jane', 'age': 24, 'courses': ['MATH131', 'ANTH201', 'ECO387']}

In [25]:
# (d) Generate a new string variable named courses from the values in the courses
# such that course names are separated by "-", and now print it.

# initializing string
courses = ""

# iterate over elements of list and append strings to `courses`
for i in range(len(student["courses"])):
    courses += student["courses"][i]
    if i != len(student["courses"]) - 1: # we don't want to add "-" after the last course is appended
        courses += " - "

# output courses
courses

'MATH131 - ANTH201 - ECO387'

(6) Generate an empty set named `w1`.

In [26]:
# initializing w1
w1 = set()
w1

set()

In [27]:
# a. Add the following elements to w1: {2,4,6,...,100}.
for i in range(2, 101, 2):
    w1.add(i)
    
print(type(w1))
print(w1)

<class 'set'>
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100}

In [28]:
# b. Generate a new set w2 with the elements {-100,-98,...,98,100}
w2 = set(range(-100, 101, 2))
w2

{-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100}

In [29]:
# c. Find the number of elements in the intersection of w1 and w2.
len(w1.intersection(w2))

50

In [32]:
# d. Find the number of elements in the set difference between w2 and w1
len_max_set = len(max(w1, w2))
len_max_set - len(w1.difference(w2))

0